<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some Website</title>
</head>
  <body>
    {{> header}}
    <p>Project page text would go here</p>

  </body>


  {{> footer}}
</html>